.field{
    display: flex;
    flex-direction: column;
    margin: 30px 0px;

    & > input{
        height: 30px;
        border: none;
        outline: none;
        border-bottom: 2px solid #36ABFF;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #000000;
    }
    & > label{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #433F3F;
    }
}