.top-panel {
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea;
  margin: 0 30px;
  display: flex;

  .info {
    display: flex;
    align-items: center;

    .avatar {
      margin-right: 10px;
    }

    .name {
      font-family: Lato, sans-serif;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      color: #000;
    }
  }
}
