.modal{
    min-height: 200px;
    min-width: 200px;
    height: fit-content;
    width: fit-content;
    padding: 30px;
    font-family: 'Lato';
    background: #FFFFFF;

    &-wrapper{
        display: none;
        width: 100vw;
        height: 100vh;
        position: absolute;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,0.7);
    }
    &-content{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 0px;
    }
    &-header{
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
        color: #020202;
    }
    &-button{

    }
}