<div class="conversation">
    {{{ chatTopPanel }}}

    <div class="messages-container">
        <div class="ta-c chat-date"><span>{{ date }}</span></div>
        {{{ messages }}}</div>
    {{{ chatBottomPanel }}}
</div>