.link {
  &__simple {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    margin: 3px 0;
  }

  &__profile {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    margin: 3px 0;
    color: #999;
  }
}

.blue {
  color: #36abff;
}

.red {
  color: #f00;
}
